<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>

    <%- include('../partials/header') %>
      <main>

        <% if (data) { %>
          <section class="seccion-detalle">
            <article class="contenedor_imagen">
              <img src="/img/products/<%= data.image%>" alt="">

            </article>

            <article class="contenedor_detalle">
              <h2><%= data.name %> </h2>
              <h1>$<%= data.price%></h1>
              <h3>  Descuento:  </h3>
              <p><%= data.discount%>%</p>
              <h3>  Categoria:</h3>
              <p><%= data.category %> </p>
              <h3>  Cantidad: </h3>
              <p><%= data.amount %> <%= data.typeAmount %>  </p>
              <h3>Descripcion:</h3>
              <p><%= data.description%> </p>
              




            </article>
            

        
          
         


          </section>
          <% } %>

      </main>

      <%- include('../partials/footer') %>
  </body>

</html>



<!-- <div>
            
  <h4>
    <%= data.description%>||<%= data.category%>|| <%= data.amount%>||<%= data.typeamount%>
  </h4>

</div> -->