<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>

    <%- include('../partials/header') %>
      <main>

          <% if (data) { %>
          <section class="seccion-detalle">            
          <h2><%= data.name %> || $<%= data.price%></h2>
          <img src="/img/products/<%= data.image%>" alt="">
          <h4><%= data.description%>||<%= data.category%>|| <%= data.amount%>||<%= data.typeamount%></h4>
        </section>  
          <% } %>        
        
      </main>

         <%- include('../partials/footer') %>
  </body>
  
</html>