<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>
          <main>
            <% if (data) { %>
  
            <section class="seccion-newproduct">
              <article class="contenedor-newproduct">
               <h4>EDITAR PRODUCTO</h4>
            <form action="/admin/products/editProduct/<%=data.id%>?_method=PUT" method="post" enctype="multipart/form-data">
            

              


              <div class="titulo">
                <label for="">Nombre</label>
                <input type="text"name='name' value="<%=data.name%>">

             </div>
             <div class="titulo">
               <label for="">Descripción</label>
               <input type="text" name="description" value="<%=data.description%>">


             </div>
             <div class="titulo">
               <label for="">Imagen</label>
               <input type="file" name="image" value="<%=data.image%>" id="" accept="image/png, image/gif, image/jpeg">


             </div>
             <div class="titulo">
               <label for="">Categoría</label>
               <select name="category" id="category_new_product">
                 <option value="">Elegir una</option>
                 <option value="lotion">Loción</option>
                 <option value="oil">Aceite</option>
                 <option value="liquid">Líquido</option>
                 <option value="gel">Gel</option>
                 <option value="cream">Crema</option>
             </select>


             </div>
             <div class="titulo">
               <label for="">Cantidad</label>
               <input type="number" name="amount" id="amount_new_product" value="<%=data.amount%>" required>

             </div>
             <div class="titulo">
               <label for="">Tipo de Cantidad</label>
               <select name="typeAmount" id="type_amount_new_product">
                 <option value="<%=data.typeAmount%>"><%=data.typeAmount%></option>
                 <option value="ml">Milílitros (ml.)</option>
                 <option value="floz">Onzas fluidas (fl. oz.)</option>
             </select>


             </div>
             <div class="titulo">
               <label for="">Precio</label>
               <input type="number" name="price" id="" value="<%=data.price%>"
               required>


             </div>
             <div class="titulo">
               <label for="">Descuento</label>
               <select name="discount" id="type_amount_new_product">
                 <option value="<%=data.discount%>"><%=data.discount%>%</option>
                 <option value="10">10%</option>
                 <option value="15">15%</option>
                 <option value="20">20%</option>
                 <option value="25">25%</option>
                 <option value="30">30%</option>
                 <option value="35">35%</option>
                 <option value="40">40%</option>
                 <option value="45">45%</option>
                 <option value="50">50%</option>
                 <option value="55">55%</option>
                 <option value="60">60%</option>
                 <option value="65">65%</option>
                 <option value="70">70%</option>
                 <option value="75">75%</option>
             </select>



             </div>
             
           
               <button type="submit" class="enviar">Actualizar  

               </button>


             


            </form>

            </form>       
            <% } %>


          </main>
          </section>
          </article>

         <%- include('./partials/footer') %>
  </body>
  
</html>



