<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>
      <main>

        
  
 
          
        

        <section class="banner">

          <ul class="slider">
            <li id="slide1">
              <img src="/img/otras/maquillaje.jpg"/>
            </li>
            <li id="slide2">
              <img src="/img/otras/descuento.jpg"/>
            </li>
            <li id="slide3">
              <img src="/img/otras/banner.jpg" alt="">
            </li>
          </ul>
          
          <ul class="menu">
            <li>
              <a href="#slide1">1</a>
            </li>
            <li>
              <a href="#slide2">2</a>
            </li>
             <li>
              <a href="#slide3">3</a>
            </li>
          </ul>
          
        </section>

          <section class="seccion-contenedora">
            <% if (data) { %>
              <% data.forEach(function(product){ %>
                <article class="articulo-productos">
                  <h2><%= product.name%></h2>
                
                  <div>
                    <a href="/<%= product.id%>"><img src="/img/products/<%= product.image%>" alt=""></a>
                  </div>
                  <div>
                    <p>-<%= product.discount%>%|| $<%= product.price%></p>
                  </div>
                </article>

                                            <% }); %>
              <% } %>
          </section>
      </main>



         <%- include('./partials/footer') %>
     

  </body>
  
</html>




