<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <section class="seccion-newproduct">
                    <article class="contenedor-newproduct">
                        <h4>INGRESAR</h4>

                        <div class="errors">
                            <ul>
                            </ul>
                          </div>

                <form action="/login" method="post">

                    <div class="titulo">
                        <label for="email" id="email-user">Email(*)</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <% if(typeof(errors) != 'undefined' && errors.email){%>
                        <span style="color: red;">
                          <%= errors.email.msg %>
                        </span>
                     <%}%>

                    <div class="titulo">
                        <label for="password" id="password-user">Contraseña(*)</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <% if(typeof(errors) != 'undefined' && errors.password){%>
                        <span style="color: red;">
                          <%= errors.password.msg %>
                        </span>
                     <%}%>

                    <p class="titulo">
                        <input type="checkbox" name="recordarme"><label class="checkbox-inline">Recordarme</label>
                    </p>

                    <p class="titulo">¿Nuevo cliente? <a class="referencia" href="/register">Crear cuenta</a></p>

                    <input type="submit" class="enviar" value="Ingresar">
                </form>
            </article>
            </section>
            </main>
            <%- include('./partials/footer') %>
        <script src="/js/valitationsLogin.js"></script>

    </body>

</html>