<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
      <main>
        <h1>Administrar productos<a href="/admin/products/newProduct"> +</a></h1>
        
          <section class="seccion-contenedora-administrar">
            
            <% if (data) { %>
              <% data.forEach(function(product){ %>
                <article class="administrar-producto">

                  <div class="contenedor-nombre">
                    <h2><%= product.name%></h2>
                    <div class="contenedor-botones">
                      <a href="/admin/products/<%=product.id%>"></i>Ver</a>
                      <a href="/admin/products/editProduct/<%=product.id%>">Editar</a>
                      <a href="/admin/products/borrar/<%=product.id%>">Eliminar</a>
                    </div>
                  </div>
                  
                  <div class="contenedor-imagen">
                     <img src="/img/products/<%= product.image%>" alt="">
                  <div>
                    
                    <p></p>
                  </div>
                </article>
                

                                            <% }); %>
              <% } %>
          </section>
      </main>



         <%- include('./partials/footer') %>
     

  </body>
  
</html>



