<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>

    <%- include('../partials/header') %>
      <main>

        <% if (data) { %>
          <section class="seccion-detalle">
            <article class="contenedor_imagen">
              <img src="/img/users/<%= data.avatar%>" alt="">

            </article>

            <article class="contenedor_detalle">
              <h2><%= data.name %> <%=data.lastname%> </h2>
              <h1><%= data.email%></h1>
              <h3>  Tipo de usuario:  </h3>
              <p><%= data.roles_id%></p>
              <div class="botones">

                <a href="/admin/users/"><button class="enviar_usuario1">Volver</button></a>
                <a href="/admin/users/editUser/<%=data.id%>"><button class="enviar_usuario1">Editar</button></a>
              </div>

              
              </article>
            

        
          
         


          </section>
          <% } %>

      </main>

      <%- include('../partials/footer') %>
  </body>

</html>


